# .NET
bin/
obj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.suo
*.cache
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Docker
.docker/
docker-compose.override.yml

# Environment variables (Confluent Cloud credentials)
.env
