services:
  weather-api:
    build:
      context: ./WeatherService
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development

  weather-api-dapr:
    image: "daprio/daprd:latest"
    command: [ "./daprd", "-app-id", "weather-api", "-app-port", "8080", "-app-channel-address", "weather-api", "-placement-host-address", "dapr-placement:50005", "-dapr-http-port", "3501", "-dapr-grpc-port", "50001", "--config", "/dapr/config.yaml", "--resources-path", "/dapr/policies", "--log-level", "debug" ]
    volumes:
      - "./dapr:/dapr"
    ports:
      - "3501:3501"
      - "50001:50001"
    depends_on:
      - weather-api
      - zipkin

  weather-web:
    build:
      context: ./WeatherWeb
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - ASPNETCORE_HTTP_PORTS=8081
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - weather-api

  weather-web-dapr:
    image: "daprio/daprd:latest"
    command: [ "./daprd", "-app-id", "weather-web", "-app-port", "8081", "-app-channel-address", "weather-web", "-placement-host-address", "dapr-placement:50005", "-dapr-http-port", "3500", "-dapr-grpc-port", "50002", "--config", "/dapr/config.yaml", "--resources-path", "/dapr/policies", "--log-level", "debug" ]
    volumes:
      - "./dapr:/dapr"
    ports:
      - "3500:3500"
      - "50002:50002"
    depends_on:
      - weather-web
      - zipkin

  dapr-placement:
    image: "daprio/dapr:latest"
    command: [ "./placement", "-port", "50005" ]
    ports:
      - "50005:50005"

  zipkin:
    image: "openzipkin/zipkin"
    ports:
      - "9411:9411"

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
